# Critical path ignores
**/node_modules/
**/.env*
**/.next/
**/.idea/
*.tmp
temp_image*

# Build artifacts
dist/
build/
*.log

# System files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Production builds
/out/
